html{scroll-behavior: smooth;}

.header{
      background-color: cadetblue;
      color: #fff;
      padding: 40px;
      text-align: center;
      width: 100%;
}
.headertitle{
      font-size: 60px;
      width: 100%;
      font-family:cursive;
      text-shadow: 1px 1px ;
}
.navbar{
      display: flex;
      justify-content: space-around;
      padding: 10px;
      /* background-color:aqua; */
}
.navlink{
      text-decoration: none;
      color: black;
      text-shadow: 2px 2px 5px lightgray;
      font-size: 25px;
      padding: 10px;
      transition: ease-in-out 200ms;
}
.navlink:hover{
      transform: scale(1.2);
      cursor: pointer;
}

img{
      width: 100%;
      display: block;
      border-radius: 15px;
}
.introtext{
      font-size: 30px;
      padding: 20px;
      width: 70%;
      display:block ;
      text-align: justify;
      margin: auto;
}
.introtext:hover{
      transform: scale(1.02);
}
.mountainimg{
      width: 70%;
      position: relative;
      margin: auto;

}
.mountainimgtitle{
      position: absolute;
      top: 10%;
      left: 34%;
      font-family: cursive;
      font-size: 45px;
      color: #fff;
      text-shadow: whitesmoke 2px 2px 2px;
      
}

/*======================================================    Cards */
.sectioncard{
      display:flex;
      margin: auto;
      justify-content: center;
      flex-wrap: wrap;
}
.card{
      width: 400px;
      height: 600px;
      background-color: white;
      margin: 20px;
      border-radius: 15px;
      box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
      transition: ease-in-out 300ms;
      overflow: hidden;
      margin: 20px;
}


.card:hover{
      transform:scale(1.03);
      cursor: pointer;
}
.kyoto{
      height: 265px;
}
.cardtitle{
      font-family:fantasy;
      text-shadow: 2px 2px 2px lightgray;
      font-size: 40px;
      padding: 12px;
}
.cardtext{
      font-size: 20px;
      padding: 12px;
      

}
/*======================================================    Table */
.tableheader{
      font-size: 40px;
      font-family: cursive;
      text-align: center;
      padding: 20px;

}
.table{
      width: 50%;
      border-collapse: collapse;
      margin: auto;
      margin-top: none;
      margin-bottom: 50px;
}
/*======================================================    Footer */
.footer{
      background-color: cadetblue;
      display: flex;
      padding: 20px;
}
.footerinfo{
      width: 33%;
      font-size: 20px;
      color: white;
}
.followicon{
      width: 10%;
      font-size: 20px;
      display:inline-block;
      opacity: 0.8;
}
.followicon:hover{
      opacity: 1;
}
.followlinks{
      color: whitesmoke;
      padding: 20px top;
      display: block;
      text-decoration: none;
}
.followlinks:hover{
      opacity: 1;
}
.explore{

      font-size: 20px;
      color:cadetblue;
      padding-left: 15px;
      text-decoration: none;
      display: inline-block;
      transition: ease-in-out 200ms;
      text-shadow: 10px lightblue;

}
.explore:hover{
      transform: scale(1.03);
      cursor: pointer;
}