<!-- In the template folder we will have the html and css files. Then we will link them to the python files.  -->

<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Welcome to Flask</title>
      <link rel="stylesheet" href="../static/style.css">
<body>
      <h1>Sefat Monzor -Flask</h1>
      <h2>Today's Quote</h2>
      <!-- Conditional statement to check if a
        quite is available to post -->
      {% if quote1 %}
            <p>{{quote1}}</p>
      {%else%}
            <p>No quotes available for today!</p>
      {%endif%}    <!-- //end of the conditional statement  -->


      <!-- ==========================================================FOR LOOP -->
      <h2>List of colors: </h2>
      <!-- Looping through lie list of colors using the for loop  -->
       <!-- Creating an unordered list and inside it we use jinja  -->
        <ul>
            {% for c in colors%}
                <li>  {{c}} </li>
            {%endfor%}  <!-- we must declare the end of the for loop  -->
        </ul>

      <!-- After submitting an quote in the form, we add it in index first. then import it to database. -->
      <nav class="addquotebtn">
            <a href="">Add a quote</a>
      </nav>

      <main>
            <div>
                  <h2>Favorite quotes</h2>
            </div>

            <div>
                  <h3>quote Author</h3>
            </div>

            <div>
                  <h3>Quote</h3>
            </div>
      </main>

</body>
</html>